.user-col {
  margin: auto;
  margin-left: 0;
}

.user-row {
  min-height: 4em;
  margin-top: 10px;
}

.locked-user-row {
  //background: lightgray;
}

.lockeduser {
  font-style: italic;
}

.dropdown-item {
  cursor: pointer;
}
