<app-alert [alert]="alert"></app-alert>

<div class="pt-5">

  <div class="row">
    <div class="col-md-6 mx-auto">

      <div *ngIf="this.pwreset" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Password Change Required</h4>
        <p>Your password was reset by an administrator. You need to choose a new password before continuing.</p>
      </div>

      <span class="anchor" id="formUpdatePassword"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Update Password</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">


            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="inputPassword"
                     placeholder="Enter password">
            </div>

            <div class="form-group">
              <label for="inputConfirmPassword">Confirm Password</label>
              <input type="password" name="password" formControlName="confirmPassword"
                     [ngClass]="{'is-invalid':passwordUpdateForm.get('confirmPassword').errors}" class="form-control"
                     id="inputConfirmPassword"
                     placeholder="Confirm password">
              <div class="invalid-feedback"
                   *ngIf="passwordUpdateForm.get('confirmPassword').hasError('passwordMismatch')">Passwords dont match
              </div>
            </div>
            <div class="form-group">
              <button type="button" (click)="updatePassword()" class="btn btn-success float-right">Update</button>
            </div>
            <div class="form-group">
              <button type="button" routerLink="/user/settings" class="btn btn-outline-secondary btn-sm float-left">Go Back</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>

