<div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" minlength="1" [(ngModel)]="location.name">
  </div>

  <div class="form-group">
    <label>Country</label>
    <input type="text" class="form-control" minlength="1" [(ngModel)]="location.country">
  </div>

  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" minlength="1" [(ngModel)]="location.city">
  </div>

  <div class="form-group">
    <label>ZIP Code</label>
    <input type="text" class="form-control" minlength="1" [(ngModel)]="location.zip">
  </div>

  <div class="form-group">
    <label>Street</label>
    <input type="text" class="form-control" minlength="1" [(ngModel)]="location.street">
  </div>
</div>
