/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
}

.unselectable {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
