<div class="d-flex flex-column">
  <h2 class="text-center">Manage Users</h2>
  <div class="btn-group-vertical m-2 align-items-center">
    <a class="btn btn-outline-primary m-3" routerLink="/admin/create" role="button">Create New Users</a>
    <a class="btn btn-outline-primary m-3" routerLink="/admin/users" role="button">User Management</a>
  </div>

  <h2 class="text-center">Create</h2>
  <div class="btn-group-vertical m-2 align-items-center">
    <a class="btn btn-outline-primary m-3" routerLink="/admin/events" role="button">New Event, Event Category, Show</a>
    <a class="btn btn-outline-primary m-3" routerLink="/admin/locations" role="button">New Location, Hallplan</a>
    <a class="btn btn-outline-primary m-3" routerLink="/news" role="button">New News</a>
  </div>
</div>
